{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ csrf_token }}" name="csrf-token"/>
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/flexgrid.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Canvas</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="{% static "img/gramicon2.png" %}" alt="logo" class="navbar-brand img-circle gramlogo">
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right">
                        <li><img src="{{ profile.profile_pics }}" alt="{{ request.user.username }}'s + profile pics"
                                 class="img-circle img-responsive" id="profile-img"></li>
                        <li><a href="#">Logged in as {{ request.user.get_full_name }}</a></li>
                        <li><a href="/logout">Logout</a></li>


                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="row main-container content-container">
        <div class="col-md-3 sidebar-container">
            <div class="sidebar">
                <div class="sidebar-image">


                    <form id="upload" method="post" action="/home/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="drop">
                            Drop Here or
                            <a href="#">Browse to upload</a>
                            <input type="file" name="image" multiple accept="image/*"/>
                        </div>
                        <ul>
                            <!-- The file uploads will be shown here -->
                        </ul>
                    </form>
                    {% if images %}
                        {% for image in images %}
                            <div class="single-image">
                                <a href="#">
                                    <img src="{{ image.image.url }}" class="img-responsive image-sidebar"
                                         id="image-sidebar" data-id="{{ image.id }}">
                                </a>
                            </div>
                        {% endfor %}
                        {% else %}
                        <img src="{% static "img/empty.png" %}"> <br>
                       No photo Uploaded yet
                    {% endif %}

                </div>

            </div>
        </div>
        <div class="col-md-9 canvas-container">

            <div class="img-container" id="img-effect">
                <div class="empty-text">Upload/Click on the image to apply effect</div>
                <img class="img-responsive" id="img" data-id="">
            </div>
            <div class="row btn-effects">

                <div class="col-md-12 effect-container">

                    <nav class="effects">
                        <button id="resetbtn" class="btn btn-success" data-effect="reset">Reset Photo</button>
                        <button id="brightnessbtn" class="btn btn-primary" data-effect="brightness">Brightness</button>
                        <button id="flipbtn" class="btn btn-primary" data-effect="flip">Flip</button>
                        <button id="solarizebtn" class="btn btn-primary" data-effect="solarize">Solarize</button>
                        <button id="contrastbtn" class="btn btn-primary" data-effect="greyscale">GreyScale</button>
                        <button id="mirrorbtn" class="btn btn-primary" data-effect="mirror">Mirror</button>
                        <button id="deformbtn" class="btn btn-primary" data-effect="deform">Deform</button>
                        <button id="blurbtn" class="btn btn-primary" data-effect="blur">Blur</button>
                    </nav>


                    <nav class="">

                        <button id="delete" class="btn btn-danger">Delete</button>
                        <button id="share" class="btn btn-primary">Share on Facebook</button>
                        <a href="#" download class="btn btn-success" id="savebtn">Save Image</a>
                    </nav>

                </div>

            </div>
        </div>

    </div>

</div>

<script src="{% static "js/jquery.min.js" %}"></script>

<script src="{% static "js/bootstrap-notify.min.js" %}"></script>

<script src="{% static "js/jquery.knob.min.js" %}"></script>
<script src="{% static "js/json_parse.js" %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="{% static "js/jquery.ui.widget.js" %}"></script>
<script src="{% static "js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/jquery.fileupload.js" %}"></script>


<script>

</script>


<script src="{% static "js/script.js" %}"></script>
</body>
</html>